
<heasecder id="header">
    <h1>Technologies I know</h2>
    <div class="row">
        <div class="tech col-md-3">
            <h2>MongoDb</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Express.js</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Angular 2</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Node.js</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>        
    </div>
    <div class="row">
        <div class="tech col-md-3">
            <h2>JavaScript</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>React.js</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Redux</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span>
            <span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>HTML5 & CSS3</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="e-circle"></span>
        </div>        
    </div>
    <div class="row">
        <div class="tech col-md-3">
            <h2>jQuery</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Ajax</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Git</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>
        <div class="tech col-md-3">
            <h2>Python 3</h2>
            <span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span>
            <span class="circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span><span class="e-circle"></span>
        </div>        
    </div>
</header>