<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" href="/images/favicon.png"> -->

    <link rel="stylesheet" href="/stylesheets/animate.css">

    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- <link rel="stylesheet" href="/stylesheets/mediaquerys.css"> -->

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <section class="landing-page">
      <div class="header-overlay">
          <h1 class="layout-title"> I am Arturo Filio a Web Developer </h1>
          <br>
          <h3 class="layout-title-two">Welcome to my page</h3>
          <div class="container">
            <div class="row">
              <div class="button-col col-md-12">
                <a href="#" class="tour-button"> Take a Tour</a>
              </div>
            </div>
          </div>
      </div>
                
    </section>
    <%- body %>

    <footer>
      <h1>AFV</h1>
      <p> Made By Arturo Filio © 2017</p>
      <div class="container">
        <div class="icon-col row">
          <a href="https://www.linkedin.com/in/arturofiliovilla/" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
          <a href="https://twitter.com/arturfilio" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
          <a href="https://github.com/arturfil" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </div>
      </div>
    </footer>

    <!-- jQuery libraries -->

    <script type="text/javascript" src="/javascripts/wow.min.js">
    </script>



    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <!-- <script type="text/javascript" scr="/javascripts/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  </body>
</html>
