<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <section class="landing-page">
      <div class="header-overlay">
          <h1 class="layout-title"> I am Arturo Filio, Web Developer </h1>
      </div>
                
    </section>
    <%- body %>
  </body>
</html>
