* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
}
h2,
h3 {
  text-align: center;
}
.landing-page {
  margin: none;
  background-image: url('../images/mexico-wallpaper.jpg');
  height: 800px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-overlay {
  background-color: rgba(31, 31, 31, 0.4);
  height: 800px;
}
.layout-title {
  text-align: center;
  color: white;
  font-size: 60px;
  padding-top: 330px;
  margin: 0;
}
.layout-title-two {
  text-align: center;
  color: white;
  font-size: 60px;
}
.tour-button {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 45px;
  padding: 10px 20px;
  width: 400px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: white;
}
.tour-button:hover {
  text-decoration: none;
  color: #00b7ff;
  border-color: white;
  background-color: white;
  transition: 0.3s;
}
a {
  color: #00b7ff;
}

/* underline - span */

.underline {
  background-color: black;
  height: 5px;
  width: 70p;
  padding: 2px 125px;
  margin: 0 auto;
}

hr {
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border: 1px black solid;
  text-align: center;
}

/* INdex Header */

#header {
  margin-top: 50px;
  background-color: white;
}
#header h2 {
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase;
}
.tech-block {
  width: 90%;
  padding-bottom: 40px;
}
.tech {
  text-align: center;
  /* border: lightgrey 1px solid; */
  padding-top: 30px;
  height: 170px;
}
.circle {
  background-color: #00b7ff;
  padding: 2px 10px;
  margin-right: 3px;
  height: 20px;
  width: 30px;
  border-radius: 50%;
}
.e-circle {
  background-color: white;
  border-color: #00b7ff 1px solid;
  border: 1px solid #00b7ff;
  padding: 2px 10px;
  margin-right: 3px;
  height: 20px;
  width: 30px;
  border-radius: 50%;
}
.about-me {
  min-height: 500px;
  background-color: #00ffdd;
}
.about-me h2 {
  text-align: center;
  padding-top: 70px;
  text-transform: uppercase;
  font-weight: 500px;
  margin-bottom: 20px;
}
.about-me h3 {
  text-transform: uppercase;
}
.about-me p {
  font-size: 20px;
}
.about-me-cont {
  margin-bottom: 40px;
}
.passion-cont {
  text-align: center;
}
i {
  border: black solid 5px;
  padding: 30px;
  border-radius: 50%;
  margin: 40px;
}
i:hover {
  color: white;
  border: white solid 5px;
  transition: 0.3s;
}
.projects {
  background-color: rgba(232, 233, 229, 0.712);
  padding-bottom: 150px;
  /* margin-bottom: 30px; */
  overflow: hidden;
}
.projects h2 {
  text-transform: uppercase;
  margin: 0px;
  padding-top: 70px;
  text-align: center;
}
.project-block {
  margin-top: 40px;
  width: 100%;
}
.project-row {
  margin-bottom: 90px;
}
.project-cont {
  /* border: gray 1px solid; */
  text-align: center;
  height: 200px;
  margin-bottom: 120px;
  padding: 30px 0px;
}
.project-cont:hover .middle {
  opacity: 1;
}
.project-cont img {
  height: auto;
  width: 90%;
  padding: 20px 0;
  margin-bottom: 50px;
  overflow-y: hidden;
  opacity: 1;
}
.project-cont img:hover {
  width: 92%;
  height: auto;
  overflow: hidden;
  opacity: 0.7;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text {
  background-color: #00ffdd;
  color: white;
  font-size: 15px;
  padding: 16px 16px;
  border-radius: 25px;
  text-align: center;
}

/* Hire me section */

.hire-me {
  height: 300px;
  background-color: #00b7ff;
}
.hire-me h2 {
  margin: 0;
  padding: 40px;
}
.button-col {
  text-align: center;
  margin-top: 20px;
}
.button {
  background-color: #00b7ff;
  border: 3px solid black;
  border-radius: 45px;
  padding: 10px 10px;
  width: 300px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: black;
}
.button:hover {
  text-decoration: none;
  color: white;
  border-color: white;
  transition: 0.3s;
}

/* Contact Me Section */

.contact-me {
  margin-bottom: 50px;
}
.form-cont {
  margin-top: 80px;
}
.contact-me p {
  text-align: center;
  font-size: 25px;
}
.contact-me label {
  text-align: right;
  padding-right: 80px;
  text-transform: uppercase;
}
.contact-me input {
  height: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  border: solid 0.5px grey;
}
.contact-me textarea {
  font-size: 20px;
  border: solid 0.5px grey;
}
.send-e-button {
  background-color: transparent;
  border: 3px solid #00b7ff;
  border-radius: 45px;
  padding: 10px 5px;
  width: 200px;
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: #00b7ff;
}
.send-e-button:hover {
  background-color: black;
  color: #00b7ff;
  border-color: black;
  transition: 0.3s;
}
footer {
  background-color: rgba(0, 0, 0, 0.808);
}
footer h1 {
  padding-top: 40px;
  color: grey;
  text-align: center;
}
footer p {
  color: lightgrey;
  text-align: center;
}
.icon-col {
  text-align: center;
  padding-bottom: 40px;
}
.icon-col i {
  color: whitesmoke;
  border-color: whitesmoke;
}
.icon-col i:hover {
  transition: 0.3s;
  color: #00b7ff;
  border-color: #00b7ff;
}

/* Testing */
