body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.#header {
  background-image: url(./images/mexico-wallpaper.jpg)
}
#header h1 {
  text-align: center;
}